/* ! About Us Info START */
.about-us-info p {
  width: 470px;
}

.about-us-info .title {
  font-size: 20px;
  font-family: var(--font-family-noto);
}
/* ! About Us Info END */


/* ! About Us Content START */
.about-us-banner {
  min-height: 130px;
  object-fit: cover;
}
.about-us-content .row {
  font-size: 14px;
  margin-top: 30px;
}
.about-us-content :nth-child(6) img {
  transition: 0.5s;
}
.about-us-content :nth-child(6) img:hover {
  scale: 1.1;
}
.about-us-content .col-md-2{
  font-family: var(--font-family-noto);
  margin-bottom: 20px;
}
.about-us-content .col-md-3{
  font-family: var(--font-family-noto);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us-content .col-md-3 :nth-child(3){
  font-family: var(--font-family-karla);
  margin-top: -5px;
  margin-bottom: 20px;
}
/* ! About Us Content END */